{% extends 'base.html' %}
{% load static %}

{% block title %} To do list {% endblock %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-evenly mt-3">
        {% if not projects %}
        {% include 'partical/404_page_not_found.html' %}
        {% endif %}
        {% for project in projects %}
        <div class="col-3" style="margin: 15px; border: solid; border-color: gray; border-width: 1.2px;">
            <h3>{{project.title}}</h3>
            <p><b>Description</b>{{project.description}}</p>
            <p class="gray-text"> Start Date: {{project.start_date}}</p>

            <p class="gray-text"> End Date: {{project.end_date}}</p>
            <form action="{% url 'delete_project' project.id %}" method="POST" class="mb-2">
                {% csrf_token %}
                <button class="btn btn-outline-danger">Delete</button>
            </form>
            <a class="btn btn-outline-warning" href="{% url 'update_project' project.id %}" style="color: orange;">Update </a>
            <a class="btn btn-outline-secondary" href="{% url 'detail_project' project.id %}" style="color: gray;">More... </a>
        </div>
        {% endfor %}

    </div>
    <div class="row">
        {% if is_paginated %}
        {% include 'partical/pagination.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}

